@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  * {
    cursor: default;
  }

  /* Opt the editor out of "forced" default cursor */
  .monaco-editor,
  .monaco-editor * {
    cursor: text;
  }

  /* Opt text-based inputs out of "forced" default cursor */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    cursor: text;
  }

  body {
    @apply text-color-text-primary;
  }
}

@layer utilities {
  .flex-full {
    @apply flex-1 flex flex-col h-full w-full;
  }
}

@layer utilities {

  /* This utility extends the hover/click area on all sides */
  .hover-expand {
    position: relative;
    --hover-radius: -10px;
  }

  .hover-expand::before {
    content: "";
    position: absolute;
    top: var(--hover-radius);
    left: var(--hover-radius);
    right: var(--hover-radius);
    bottom: var(--hover-radius);

    /* By not setting background or borders, this pseudo–element is invisible,
       but because it’s part of the element’s subtree, hovering over it
       triggers the parent’s :hover state. */
    pointer-events: auto;
  }
}
