@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  .font-sans {
    text-rendering: geometricPrecision;
    font-feature-settings: 'liga', 'calt';
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-display {
    letter-spacing: -0.02em;
    @supports (font-variation-settings: normal) {
      font-variation-settings: 'opsz' 32;
    }
  }

  p,
  span,
  .font-body {
    letter-spacing: -0.01em;
    @supports (font-variation-settings: normal) {
      font-variation-settings: 'opsz' 16;
    }
  }
}

:root {
  * {
    cursor: default;
  }

  /* Opt the editor out of "forced" default cursor */
  .monaco-editor,
  .monaco-editor * {
    cursor: text;
  }

  /* Opt text-based inputs out of "forced" default cursor */
  input[type='text'],
  input[type='password'],
  input[type='email'],
  textarea,
  select {
    cursor: text;
  }

  body {
    @apply text-color-text-primary;
  }
}
