@import 'hsl-radix-colors/gray.css';
@import 'hsl-radix-colors/red.css';
@import 'hsl-radix-colors/orange.css';
@import 'hsl-radix-colors/green.css';
@import 'hsl-radix-colors/blue.css';
@import 'hsl-radix-colors/indigo.css';
@import 'hsl-radix-colors/purple.css';
@import 'hsl-radix-colors/pink.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Custom easing curves */
    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  :root {
    /* ================================
    /* Semantic Color Variables 
    /* ================================ */

    /* Backgrounds */
    --color-background: var(--gray-1);
    --color-popover-bg: 0 0% 100%;

    /* Text Colors */

    --color-text-primary: var(--gray-12);
    --color-text-secondary: var(--gray-12) / 0.95;
    --color-text-tertiary: var(--gray-12) / 0.9;
    --color-text-quaternary: var(--gray-12) / 0.8;

    /* Border and Divider Colors */
    --color-border-subtle: var(--gray-6);
    --color-border: var(--gray-7);
    --color-border-normal: var(--color-border);
    --color-border-strong: var(--gray-8);

    /* Primary Button */
    --color-primary-bg: var(--gray-12);
    --color-primary-hover: var(--gray-12) / 0.9;
    --color-primary-text: var(--gray-1);

    /* Secondary Button */
    --color-secondary-bg-subtle: var(--gray-2);
    --color-secondary-bg: var(--gray-3);
    --color-secondary-hover: var(--gray-4);
    --color-secondary-active: var(--gray-5);
    --color-secondary-text: var(--gray-11);

    --radius: 0.75rem;
  }

  .dark {
    --color-popover-bg: var(--gray-2);
  }
}
